@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ModernAntiqua';
    src: url("../fonts/ModernAntiqua-Regular.ttf") format('truetype');
}
@layer components{
    .fondo{
        background-image: url('http://wizard.com.devel/../img/fondo.jpeg') ;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

/* @layer components{
background-image: url('http://wizard.com.devel/../img/fondo.jpeg') ;
    .card {
        padding: 20px;
        border-radius: 5px;
        background: #e0e0e0;
        box-shadow:0px 0px 20px 7px #bebebe;
        width: fit-content;
        height: fit-content;
    }
    li{
        opacity: 100%;
        margin-top: 5px
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: white;
        padding: 2.5em;
        border-radius: 25px;
        transition: .4s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 2px;
    }

    .form:hover {
        transform: translateX(-0.5em) translateY(-0.5em);
        border: 1px solid #171717;
        box-shadow: 10px 10px 0px #666666;
    }

    .heading {
        color: black;
        padding-bottom: 2em;
        text-align: center;
        font-weight: bold;
    }

    .input {
        border-radius: 5px;
        border: 1px solid whitesmoke;
        background-color: whitesmoke;
        padding: 0.7em;
        transition: .4s ease-in-out;
    }

    .input:hover {
        box-shadow: 6px 6px 0px #969696,
        -3px -3px 10px #ffffff;
    }

    .input:focus {
        background: #ffffff;
        box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    }

    .form .btn {
        margin-top: 2em;
        align-self: center;
        padding: 0.7em;
        padding-left: 1em;
        padding-right: 1em;
        border-radius: 10px;
        border: none;
        color: black;
        transition: .4s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
    }

    .form .btn:hover {
        box-shadow: 6px 6px 0px #969696,
        -3px -3px 10px #ffffff;
        transform: translateX(-0.5em) translateY(-0.5em);
    }

    .form .btn:active {
        transition: .2s;
        transform: translateX(0em) translateY(0em);
        box-shadow: none;
    }
}
*/

